<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <extensions>
      <bindingExtensions>
        <add name="SoapBinding" type="Digst.OioIdws.Soap.Bindings.SoapBindingCollectionElement, Digst.OioIdws.Soap" />
      </bindingExtensions>
      <behaviorExtensions>
        <add name="SoapBehavior" type="Digst.OioIdws.Soap.Behaviors.SoapClientBehaviorExtensionElement, Digst.OioIdws.Soap" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="SoapBehaviourConfiguration">
          <clientCredentials>
            <serviceCertificate>
              <scopedCertificates>
                <add findValue="85398FCF737FB76F554C6F2422CC39D3A35EC26F" storeLocation="LocalMachine" storeName="My" targetUri="https://wsp-idws-xua:8444/HelloWorld/services/helloworld" x509FindType="FindByThumbprint" />
              </scopedCertificates>
            </serviceCertificate>
          </clientCredentials>
          <SoapBehavior />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <SoapBinding>
        <binding name="SoapBindingConfiguration" sendTimeout="00:15:00"
          useHttps="true" useSTRTransform="false" maxReceivedMessageSize="65536" />
      </SoapBinding>
    </bindings>
    <client>
      <endpoint address="https://wsp-idws-xua:8444/HelloWorld/services/helloworld"
                behaviorConfiguration="SoapBehaviourConfiguration"
                binding="SoapBinding"
                bindingConfiguration="SoapBindingConfiguration"
                contract="HelloJavaWorldProxy.HelloWorldPortType"
                name="HelloWorldPort">
        <identity>
          <dns value="eID JAVA test (funktionscertifikat)" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.3.0" newVersion="1.8.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
