<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oioIdwsWcfConfiguration" type="Digst.OioIdws.Wsc.OioWsTrust.Configuration, Digst.OioIdws.Wsc, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="oioIdwsLoggingConfiguration" type="Digst.OioIdws.Common.Logging.Configuration, Digst.OioIdws.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
  </startup>
  <system.serviceModel>
    <extensions>
      <bindingExtensions>
        <add name="SoapBinding" type="Digst.OioIdws.Soap.Bindings.SoapBindingCollectionElement, Digst.OioIdws.Soap"/>
      </bindingExtensions>
      <behaviorExtensions>
        <add name="SoapBehavior" type="Digst.OioIdws.Soap.Behaviors.SoapClientBehaviorExtensionElement, Digst.OioIdws.Soap"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="SoapBehaviourConfiguration">
          <clientCredentials>
            <serviceCertificate>
              <scopedCertificates>
                <!-- Certificate of WSP. Used for checking signature on response. targetURI must match the endpoint address. -->
                <add findValue="1F0830937C74B0567D6B05C07B6155059D9B10C7" storeLocation="LocalMachine" storeName="My" targetUri="http://127.0.0.1:9091/HelloWorld" x509FindType="FindByThumbprint"/>
              </scopedCertificates>
            </serviceCertificate>
          </clientCredentials>
          <!--Endpoints can only point to a single behaviour configuration. Hence, we need to include the SoapBehavior in a existing behavior-->
          <SoapBehavior/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <SoapBinding>
        <binding name="SoapBindingConfiguration" useHttps="false"/>
      </SoapBinding>
    </bindings>
    <client>
      <endpoint address="http://127.0.0.1:9091/HelloWorld" binding="SoapBinding" contract="HelloWorldProxy.IHelloWorld" behaviorConfiguration="SoapBehaviourConfiguration" bindingConfiguration="SoapBindingConfiguration">
        <identity>
          <!--Common name specified in certificate that identifies the WSP-->
          <dns value="wsp.oioidws-net.dk TEST (funktionscertifikat)"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <oioIdwsWcfConfiguration debugMode="true" stsEndpointAddress="https://SecureTokenService.test-nemlog-in.dk/SecurityTokenService.svc" tokenLifeTimeInMinutes="5" wspEndpointID="https://wsp.oioidws-net.dk">
    <clientCertificate findValue="a402bb172929ae0d0ada62f6864329c35dc29483" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint"/>
    <stsCertificate findValue="fcb5edc9fb09cf39716c09c35fdc883bd48add8d" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint"/>
  </oioIdwsWcfConfiguration>
  <oioIdwsLoggingConfiguration logger="Digst.OioIdws.WscExampleNuGet.Log4NetLogger, Digst.OioIdws.WscExampleNuGet"/>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="c:\temp\Digst.OioIdws.WscExampleNuGet.log"/>
      <appendToFile value="true"/>
      <maximumFileSize value="100KB"/>
      <maxSizeRollBackups value="2"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level %thread %logger - %message%newline"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingFile"/>
    </root>
  </log4net>
</configuration>
