<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
  </configSections>
  <system.diagnostics>
    <sources>
      <source propagateActivity="false" name="System.ServiceModel" logKnownPii="true" switchValue="Verbose">
        <listeners>
          <add name="ServiceModelMessageLoggingListener">
            <filter type=""/>
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" logKnownPii="true" switchValue="Verbose">
        <listeners>
          <add name="ServiceModelMessageLoggingListener">
            <filter type=""/>
          </add>
        </listeners>
      </source>
    <!--
    Placed at:
      * "C:\Windows\Microsoft.NET\Framework64\v4.0.30319\Config\machine.config"
      
      in order to enable logKnownPii the machine.config must also be updated with
    
      <system.serviceModel>
        <machineSettings enableLoggingKnownPii="true"/>
      </system.serviceModel>
    
      logKnownPii makes it possible to see the concrete value which the digest value represent in a SignedInfo reference element.
    -->
      <source name="System.IdentityModel" logKnownPii="true" switchValue="Verbose">
        <listeners>
          <add name="ServiceModelMessageLoggingListener">
            <filter type=""/>
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel.Security" logKnownPii="true" switchValue="Verbose">
        <listeners>
          <add name="ServiceModelMessageLoggingListener">
            <filter type=""/>
          </add>
        </listeners>
      </source>
      <source name="Digst.OioIdws" switchValue="Information">
        <listeners>
          <add name="ServiceModelMessageLoggingListener">
            <filter type=""/>
          </add>
        </listeners>
      </source>

      <source name="System.Security.Cryptography.Xml.SignedXml" switchName="XmlDsigLogSwitch">
        <listeners>
          <add name="ServiceModelMessageLoggingListener"/>
        </listeners>
      </source>
      
    </sources>
    
    <switches>
      <add name="Saml2SecurityTokenHandlerLogSwitch" value="Verbose"/>
      <add name="XmlDsigLogSwitch" value="Verbose"/>
    </switches>
    
    <trace autoflush="true">
      <listeners>
        <add name="ServiceModelMessageLoggingListener"/>
      </listeners>
    </trace>
    
    <sharedListeners>
      <add initializeData="C:\temp\Digst.OioIdws.WspExample.svclog" name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <filter type=""/>
      </add>
    </sharedListeners>
  </system.diagnostics>
  <startup>
    <supportedRuntime sku=".NETFramework,Version=v4.5.2" version="v4.0"/>
  </startup>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logKnownPii="true" logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true"/>
    </diagnostics>
    <extensions>
      <bindingExtensions>
        <add name="SoapBinding" type="Digst.OioIdws.Soap.Bindings.SoapBindingCollectionElement, Digst.OioIdws.Soap"/>
      </bindingExtensions>
      <behaviorExtensions>
        <add name="SoapBehavior" type="Digst.OioIdws.Soap.Behaviors.SoapServiceBehaviorExtensionElement, Digst.OioIdws.Soap"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="SoapBehaviourConfiguration">
          <SoapBehavior/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="SoapServiceBehaviourConfiguration">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <!--serviceCredentials specifies the certificate used for signing the response to the client-->
          <!--Setting useIdentityConfiguration to true enables WIF (System.IdentityModel configuration) and ensures that the specified service certificate is also used as decrypting key for decrypting the encrypted SAML assertion.-->
          <!--Setting useIdentityConfiguration to true in a service behavior did not work because it happens too late in the pipe line and the service certificate would not be set to be the decrypting key-->
          <serviceCredentials useIdentityConfiguration="true">
            <serviceCertificate findValue="1F0830937C74B0567D6B05C07B6155059D9B10C7" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint"/>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <bindings>
      <SoapBinding>
        <!-- sendTimeout is set in order for long running tests being able to test expiration scenarios -->
        <!--HTTP:<binding name="SoapBindingConfiguration" useHttps="false" sendTimeout="00:15:00"/>-->
        <binding name="SoapBindingConfiguration" useHttps="true" sendTimeout="00:15:00" useSTRTransform="true" />
      </SoapBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="SoapServiceBehaviourConfiguration" name="Digst.OioIdws.WspExample.HelloWorld">
        <!--HTTP:<endpoint address="https://digst.oioidws.wsp:9090/helloworld" behaviorConfiguration="SoapBehaviourConfiguration" binding="SoapBinding" bindingConfiguration="SoapBindingConfiguration" contract="Digst.OioIdws.WspExample.IHelloWorld"/>-->
        <endpoint address="https://digst.oioidws.wsp:9090/helloworld" behaviorConfiguration="SoapBehaviourConfiguration" binding="SoapBinding" bindingConfiguration="SoapBindingConfiguration" contract="Digst.OioIdws.WspExample.IHelloWorld"/>
      </service>
    </services>
  </system.serviceModel>
  <!--system.identityModel is used by WIF which is enabled by setting useIdentityConfiguration to true under serviceCredentials,-->
  <system.identityModel>
    <identityConfiguration>
      <!--audienceUris specifies this service and is used to check that the SAML token from NemLog-in STS is indeed issued to this service.-->
      <audienceUris>
        <add value="https://digst.oioidws.wsp:9090/helloworld"/>
        <add value="https://wsp.oioidws-net.dk"/>
      </audienceUris>
      <!--issuerNameRegistry specifies the certificate of the Nemlog-In STS. Both thumbprint and Common Name must be specified.-->
      <!--Issuer certificate is embedded in the encrypted SAML assertion. Hence, it it does not need to be recieved out-of-band and placed in the certificate store-->
      <issuerNameRegistry>
        <trustedIssuers>
          <add name="IDWS XUA Test STS (funktionscertifikat)" thumbprint="af7691346492dc30d127d85537297d702993176c"/>
          <add name="Digitaliseringsstyrelsen - NemLog-in Test" thumbprint="d9f10c97aa647727adb64a349bb037c5c23c9a7a"/>
          <!--<add name="Oiosaml-net.dk TEST" thumbprint="0e6dbcc6efaaff72e3f3d824e536381b26deecf5"/>-->
        </trustedIssuers>
      </issuerNameRegistry>
      <!--The Saml2SecurityTokenHandler security token handler must be replacded by a custom extended handler which supports tokens with "complex" (xml payload) attribute values -->
      <securityTokenHandlers>
        <remove type="System.IdentityModel.Tokens.Saml2SecurityTokenHandler, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <!--<add type="Digst.ExtendedSaml2SecurityToken.ExtendedSaml2SecurityTokenHandler, Digst.ExtendedSaml2SecurityToken"/>-->
        <add type="Digst.OioIdws.Wsp.DecryptedAssertionSupport.DecryptedSaml2SecurityTokenHandler, Digst.OioIdws.Wsp"/>
      </securityTokenHandlers>
    </identityConfiguration>
  </system.identityModel>
  <!-- WSDL Export Extension Types -->
  <system.web>
    <webServices>
      <serviceDescriptionFormatExtensionTypes>
        <add type="Digst.OioIdws.Wsp.Wsdl.Bindings.Policy,          Digst.OioIdws.Wsp.Wsdl"/>
        <add type="Digst.OioIdws.Wsp.Wsdl.Bindings.PolicyReference, Digst.OioIdws.Wsp.Wsdl"/>
      </serviceDescriptionFormatExtensionTypes>
    </webServices>
  </system.web>
</configuration>
