<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>

  <appSettings >
    <add key="HealthcareStsEntityId" value="https://sts-idws-xua:8181/service/sts" />
    <add key="MocesCertThumbprint" value="c8c97200d5114f436691369e0f4ee4e9c0a0cf9c" />
    <add key="ClientEntityId" value="https://client.myexamplesystem.dk "/>
  </appSettings>

</configuration>
