<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <appSettings>
    <!--Use this setting to target the seperate server example -->
    <!--<add key="AsEndpoint" value="https://digst.oioidws.rest.as:10001/accesstoken/issue"/>--> 
    <!--Use this setting to target the combined server example-->
    <add key="AsEndpoint" value="https://digst.oioidws.rest.wsp:10002/accesstoken/issue"/>  
    <add key="AudienceUri" value="https://wsp.oioidws-net.dk"/>
    <add key="ClientCertificate" value="A402BB172929AE0D0ADA62F6864329C35DC29483"/>
    <add key="StsCertificate" value="FCB5EDC9FB09CF39716C09C35FDC883BD48ADD8D"/>
    <add key="StsEndpointAddress" value="https://SecureTokenService.test-nemlog-in.dk/SecurityTokenService.svc"/>
    <!--All values below 1 minute will result in a token life time of 8 hours from STS.-->
    <add key="TokenLifeTimeInSeconds" value="60"/>
    <add key="WspTestEndpointAddress" value="https://digst.oioidws.rest.wsp:10002/hello"/>
    <add key="WspTestEndpointAddress2" value="https://digst.oioidws.rest.wsp:10002/hello2"/>
  </appSettings>
</configuration>
