<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings>
        <add key="WscCertificatePath" value="Resources\\WSC.p12" />
        <add key="StsEndpointAddress" value="https://SecureTokenService.test-nemlog-in.dk/SecurityTokenService.svc" />
        <add key="StsCertificatePath" value="Resources\\IntTest_STS.cer" />
        <add key="TokenLifeTimeInMinutes" value="5" />
        <add key="DotNetWspEntityID" value="https://wsp.oioidws-net.dk" />
        <add key="DotNetWspHostname" value="https://Digst.OioIdws.Wsp:9090/HelloWorld" />
        <add key="DotNetWspCertificatePath" value="Resources\\DotNet_WSP.p12" />
        <add key="LocalTokenServiceSigningCertificatePath" value="Resources\\sts.oioidws-net.dk.p12" />
        <add key="LocalTokenServiceEntityId" value="https://sts.oioidws-net.dk" />
    </appSettings>
</configuration>