<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oioIdwsWcfConfiguration" type="Digst.OioIdws.Wsc.OioWsTrust.Configuration, Digst.OioIdws.Wsc, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
  </configSections>
  <!--<oioIdwsWcfConfiguration debugMode="true" stsEndpointAddress="https://sts-idws-xua:8181/service/sts" tokenLifeTimeInMinutes="5" wscIdentifier="http://localhost:8080/service/hello">
    <clientCertificate findValue="0E6DBCC6EFAAFF72E3F3D824E536381B26DEECF5" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint"/>
    <stsCertificate findValue="af7691346492dc30d127d85537297d702993176c" storeLocation="LocalMachine" storeName="Root" x509FindType="FindByThumbprint"/>
    -->
  <!--<mocesCertificate findValue="c8c97200d5114f436691369e0f4ee4e9c0a0cf9c" storeLocation="CurrentUser" storeName="My" x509FindType="FindByThumbprint"/>-->
  <!--
  </oioIdwsWcfConfiguration>-->
  <!--<oioIdwsWcfConfiguration debugMode="true" stsEndpointAddress="https://sts-idws-xua:8181/service/sts" tokenLifeTimeInMinutes="5" wspEndpointID="https://digst.oioidws.wsp:9090/helloworld">
    <clientCertificate findValue="0E6DBCC6EFAAFF72E3F3D824E536381B26DEECF5" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint" />
    <stsCertificate findValue="af7691346492dc30d127d85537297d702993176c" storeLocation="LocalMachine" storeName="Root" x509FindType="FindByThumbprint" />
    <mocesCertificate findValue="c8c97200d5114f436691369e0f4ee4e9c0a0cf9c" storeLocation="CurrentUser" storeName="My" x509FindType="FindByThumbprint"/>
  </oioIdwsWcfConfiguration>-->
  <oioIdwsWcfConfiguration debugMode="true" stsEndpointAddress="https://SecureTokenService.test-nemlog-in.dk/SecurityTokenService.svc" tokenLifeTimeInMinutes="5" wscIdentifier="https://wsp.oioidws-net.dk">
    <!--<clientCertificate findValue="0E6DBCC6EFAAFF72E3F3D824E536381B26DEECF5" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint"/>-->
    <clientCertificate findValue="96A26BF6E07DE6DB74E356472CCA4776FEC9B0DA" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint"/>
    <stsCertificate findValue="D9F10C97AA647727ADB64A349BB037C5C23C9A7A" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint"/>
  </oioIdwsWcfConfiguration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <system.serviceModel>
    <extensions>
      <bindingExtensions>
        <add name="SoapBinding" type="Digst.OioIdws.Soap.Bindings.SoapBindingCollectionElement, Digst.OioIdws.Soap" />
      </bindingExtensions>
      <behaviorExtensions>
        <add name="SoapBehavior" type="Digst.OioIdws.Soap.Behaviors.SoapClientBehaviorExtensionElement, Digst.OioIdws.Soap" />
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="SoapBehaviourConfiguration">
          <clientCredentials>
            <serviceCertificate>
              <scopedCertificates>
                <!--HTTP:<add targetUri="https://digst.oioidws.wsp:9090/helloworld" findValue="1F0830937C74B0567D6B05C07B6155059D9B10C7" x509FindType="FindByThumbprint" storeLocation="LocalMachine" storeName="My"/>-->
                <add targetUri="https://digst.oioidws.wsp:9090/helloworld" findValue="1F0830937C74B0567D6B05C07B6155059D9B10C7" x509FindType="FindByThumbprint" storeLocation="LocalMachine" storeName="My" />
              </scopedCertificates>
            </serviceCertificate>
          </clientCredentials>
          <!-- Endpoints can only point to a single behaviour configuration. Hence, we need to include the SoapBehavior in a existing behavior -->
          <SoapBehavior />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <SoapBinding>
        <!-- Setting the default value 65536 bytes on maxReceivedMessageSize is only done to test that the configuration works. -->
        <!--HTTP:<binding name="SoapBindingConfiguration" useHttps="false" sendTimeout="00:15:00" maxReceivedMessageSize="65536"/>-->
        <binding name="SoapBindingConfiguration" useHttps="true" sendTimeout="00:15:00" maxReceivedMessageSize="65536" useSTRTransform="true" />
      </SoapBinding>
    </bindings>
    <client>
      <!--HTTP:<endpoint address="https://digst.oioidws.wsp:9090/helloworld" behaviorConfiguration="SoapBehaviourConfiguration" binding="SoapBinding" bindingConfiguration="SoapBindingConfiguration" contract="HelloWorldProxy.IHelloWorld">-->
      <endpoint address="https://digst.oioidws.wsp:9090/helloworld" behaviorConfiguration="SoapBehaviourConfiguration" binding="SoapBinding" bindingConfiguration="SoapBindingConfiguration" contract="HelloWorldProxy.IHelloWorld">
        <identity>
          <dns value="wsp.oioidws-net.dk TEST (funktionscertifikat)" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="BouncyCastle.Crypto" publicKeyToken="0e99375e54769942" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.8.3.0" newVersion="1.8.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
