<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="Federation" type="dk.nita.saml20.config.ConfigurationReader, dk.nita.saml20"/>
    <section name="SAML20Federation" type="dk.nita.saml20.config.ConfigurationReader, dk.nita.saml20"/>
    <!-- OIOIDWS section start -->
    <section name="oioIdwsWcfConfiguration" type="Digst.OioIdws.Wsc.OioWsTrust.Configuration, Digst.OioIdws.Wsc, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="oioIdwsLoggingConfiguration" type="Digst.OioIdws.Common.Logging.Configuration, Digst.OioIdws.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <!-- section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/-->
    <!-- OIOIDWS section stop -->
  </configSections>
  <!-- OIOIDWS REST section start -->
  <appSettings>
    <!--Use this setting to target the seperate server example -->
    <!--<add key="AsEndpoint" value="https://digst.oioidws.rest.as:10001/accesstoken/issue"/>-->

    <!--Use this setting to target the combined server example-->
    <add key="AsEndpoint" value="https://digst.oioidws.rest.wsp:10002/accesstoken/issue"/>
    <add key="AudienceUri" value="https://wsp.oioidws-net.dk"/>
    <add key="ClientCertificate" value="0E6DBCC6EFAAFF72E3F3D824E536381B26DEECF5"/>
    <add key="StsCertificate" value="af7691346492dc30d127d85537297d702993176c"/>
    <add key="StsEndpointAddress" value="https://sts-idws-xua:8181/service/sts"/>
    <add key="TokenLifeTimeInSeconds" value="60"/>
    <add key="WspTestEndpointAddress" value="https://digst.oioidws.wsp:9090/helloworld"/>
    <!--<add key="WspTestEndpointAddress2" value="https://digst.oioidws.rest.wsp:10002/hello2"/>-->
  </appSettings>
  <!-- OIOIDWS REST section end -->
  <!-- OIOIDWS SOAP section start -->
  <system.serviceModel>
    <extensions>
      <bindingExtensions>
        <add name="SoapBinding" type="Digst.OioIdws.Soap.Bindings.SoapBindingCollectionElement, Digst.OioIdws.Soap"/>
      </bindingExtensions>
      <behaviorExtensions>
        <add name="SoapBehavior" type="Digst.OioIdws.Soap.Behaviors.SoapClientBehaviorExtensionElement, Digst.OioIdws.Soap"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="SoapBehaviourConfiguration">
          <clientCredentials>
            <serviceCertificate>
              <scopedCertificates>
                <!-- Certificate of WSP. Used for checking signature on response. targetURI must match the endpoint address. -->
                <add findValue="1F0830937C74B0567D6B05C07B6155059D9B10C7" storeLocation="LocalMachine" storeName="My" targetUri="https://digst.oioidws.wsp:9090/helloworld" x509FindType="FindByThumbprint"/>
              </scopedCertificates>
            </serviceCertificate>
          </clientCredentials>
          <!--Endpoints can only point to a single behaviour configuration. Hence, we need to include the SoapBehavior in a existing behavior-->
          <SoapBehavior/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <SoapBinding>
        <binding name="SoapBindingConfiguration" useHttps="true" useSTRTransform="false"/>
      </SoapBinding>
    </bindings>
    <client>
      <endpoint address="https://digst.oioidws.wsp:9090/helloworld" binding="SoapBinding" contract="HelloWorldProxy.IHelloWorld" behaviorConfiguration="SoapBehaviourConfiguration" bindingConfiguration="SoapBindingConfiguration">
        <identity>
          <!--Common name specified in certificate that identifies the WSP-->
          <dns value="wsp.oioidws-net.dk TEST (funktionscertifikat)"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <!--<oioIdwsWcfConfiguration debugMode="true" stsEndpointAddress="https://SecureTokenService.test-nemlog-in.dk/SecurityTokenService.svc" tokenLifeTimeInMinutes="5" wspEndpointID="https://wsp.oioidws-net.dk">
    <clientCertificate findValue="0E6DBCC6EFAAFF72E3F3D824E536381B26DEECF5" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint"/>
    <stsCertificate findValue="d9 f1 0c 97 aa 64 77 27 ad b6 4a 34 9b b0 37 c5 c2 3c 9a 7a" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint"/>
  </oioIdwsWcfConfiguration>-->
  <oioIdwsWcfConfiguration debugMode="true" stsEndpointAddress="https://sts-idws-xua:8181/service/sts" tokenLifeTimeInMinutes="5" wscIdentifier="https://digst.oioidws.wsp:9090/helloworld">
    <clientCertificate findValue="0E6DBCC6EFAAFF72E3F3D824E536381B26DEECF5" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint"/>
    <stsCertificate findValue="af7691346492dc30d127d85537297d702993176c" storeLocation="LocalMachine" storeName="Root" x509FindType="FindByThumbprint"/>
  </oioIdwsWcfConfiguration>
  <oioIdwsLoggingConfiguration logger=""/>
  <!-- OIOIDWS section stop -->
  <location path="MyPage.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
  <Federation xmlns="urn:dk.nita.saml20.configuration">
    <SessionTimeout>30</SessionTimeout>
    <PreventOpenRedirectAttack>true</PreventOpenRedirectAttack>
    <SigningCertificate findValue="0E6DBCC6EFAAFF72E3F3D824E536381B26DEECF5" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint"/>
    <AllowedAudienceUris>
      <Audience>https://oiosaml-net.dk</Audience>
    </AllowedAudienceUris>
    <Actions>
      <clear/>
      <add name="SetSamlPrincipal" type="dk.nita.saml20.Actions.SamlPrincipalAction, dk.nita.saml20 "/>
      <add name="LogAction" type="WebsiteDemo.LogAction, WebsiteDemo"/>
      <add name="Redirect" type="dk.nita.saml20.Actions.RedirectAction, dk.nita.saml20"/>
    </Actions>
  </Federation>
  <SAML20Federation xmlns="urn:dk.nita.saml20.configuration">
    <MinimumAssuranceLevel>3</MinimumAssuranceLevel>
    <ShowError>true</ShowError>
    <ServiceProvider id="https://oiosaml-net.dk" server="https://oiosaml-net.dk:20002">
      <ServiceEndpoint localpath="/login.ashx" type="signon" redirectUrl="/MyPage.aspx?action=sso" index="0"/>
      <ServiceEndpoint localpath="/logout.ashx" type="logout" redirectUrl="/Default.aspx" index="1"/>
      <ServiceEndpoint localpath="/logout.ashx" type="soaplogout" errorBehaviour="throwexception"/>
      <ServiceEndpoint localpath="/metadata.ashx" type="metadata"/>
      <md:ContactPerson contactType="administrative" xmlns:md="urn:oasis:names:tc:SAML:2.0:metadata">
        <md:Company>Schultz</md:Company>
        <md:GivenName>Uffe</md:GivenName>
        <md:SurName>Seerup</md:SurName>
        <md:EmailAddress>use@schultz.dk</md:EmailAddress>
        <md:TelephoneNumber>41954731</md:TelephoneNumber>
      </md:ContactPerson>
    </ServiceProvider>
    <RequestedAttributes>
      <att name="dk:healthcare:saml:attribute:SystemName" isRequired="true"/>
      <att name="dk:healthcare:saml:attribute:SystemVersion" isRequired="true"/>
      <att name="dk:healthcare:saml:attribute:SystemUsingOrganisationID" isRequired="false"/>
      <att name="dk:healthcare:saml:attribute:SystemUsingOrganisationName" isRequired="true"/>
      <att name="dk:gov:saml:attribute:AssuranceLevel" isRequired="true"/>
      <att name="dk:gov:saml:attribute:SpecVer" isRequired="true"/>
      <att name="urn:oid:2.5.4.4" isRequired="false"/>
      <att name="urn:oid:2.5.4.3" isRequired="false"/>
      <att name="dk:gov:saml:attribute:CvrNumberIdentifier" isRequired="false"/>
      <att name="urn:oid:2.5.4.10" isRequired="false"/>
      <att name="dk:gov:saml:attribute:CprNumberIdentifier" isRequired="true"/>
      <att name="dk:healthcare:saml:attribute:UserEducationCode" isRequired="false"/>
      <att name="dk:healthcare:saml:attribute:UserEducationType" isRequired="false"/>
      <att name="dk:healthcare:saml:attribute:UserAuthorizationCode" isRequired="false"/>
      <att name="urn:oasis:names:tc:xspa:1.0:subject:role" isRequired="true"/>
      <att name="urn:ihe:iti:xua:2017:subject:provider-identifier" isRequired="true"/>
      <att name="urn:oasis:names:tc:xacml:2.0:resource:resource-id" isRequired="true"/>
      <att name="dk:healthcare:saml:attribute:GivenConsent" isRequired="true"/>
      <att name="urn:dk:healthcare:saml:attribute:EvidenceForPatientInCare" isRequired="true"/>
      <!-- bootstrap flag, required to make NemLog-in issue the right type of tokens -->
      <!--<att name="urn:liberty:disco:2006-08:DiscoveryEPR" isRequired="true"/>-->
    </RequestedAttributes>
    <NameIdFormat>urn:oasis:names:tc:SAML:1.1:nameid-format:X509SubjectName</NameIdFormat>
    <IDPEndPoints metadata="idp-metadata">
      <!--<add id="https://saml.test-nemlog-in.dk/">
        <CertificateValidation>
          <add type="dk.nita.saml20.Specification.SelfIssuedCertificateSpecification, dk.nita.saml20"/>
        </CertificateValidation>
      </add>-->
      <add id="https://idp-idws-xua">
        <CertificateValidation>
          <add type="dk.nita.saml20.Specification.SelfIssuedCertificateSpecification, dk.nita.saml20"/>
        </CertificateValidation>
      </add>
    </IDPEndPoints>
    <CommonDomain enabled="false" localReaderEndpoint="https://pfs04/demo/cdcreader.ashx"/>
  </SAML20Federation>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.6.2" />
      </system.Web>
  -->
  <system.web>
    <authentication mode="Forms">
      <forms cookieless="UseCookies" loginUrl="/login.ashx" name="DemoServiceProvider" timeout="30"/>
    </authentication>
    <sessionState mode="Off"/>
    <compilation debug="true" targetFramework="4.5.2"/>
    <customErrors mode="Off"/>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <system.diagnostics>
    <trace autoflush="true"/>
    <sources>
      <source name="dk.nita.saml20" switchValue="Verbose">
        <listeners>
          <add name="trace"/>
        </listeners>
      </source>
      <source name="dk.nita.saml20.auditLogger" switchValue="Information">
        <listeners>
          <add name="trace"/>
        </listeners>
      </source>
      <source name="System.Security.Cryptography.Xml.SignedXml" switchValue="Verbose">
        <listeners>
          <add name="trace"/>
        </listeners>
      </source>
      <source name="Digst.OioIdws.OioWsTrust" switchValue="Verbose">
        <listeners>
          <add name="trace"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="trace" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\temp\saml2.svclog"/>
    </sharedListeners>
  </system.diagnostics>
</configuration>