<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="oioIdwsConfiguration" type="Digst.OioIdws.Configurations.OioIdwsConfiguration, Digst.OioIdws, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <oioIdwsConfiguration stsEndpointAddress="https://SecureTokenService.test-nemlog-in.dk/SecurityTokenService.svc" wspEndpointID="https://saml.nnit001.dmz.inttest" tokenLifeTimeInMinutes="480" logger="Digst.OioIdws.TestWebServiceConsumer.Log4NetLogger, Digst.OioIdws.TestWebServiceConsumer" debugMode="true">
    <clientCertificate storeLocation="CurrentUser" storeName="My" x509FindType="FindByThumbprint" findValue="ce3b36692d8d5b731dd1157849a31f1599e524da"/>
    <stsCertificate storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint" findValue="2e7a061560fa2c5e141a634dc1767dacaeec8d12"/>
  </oioIdwsConfiguration>
  <log4net>
    <appender name="RollingFile" type="log4net.Appender.RollingFileAppender">
      <file value="oioidws.log" />
      <appendToFile value="true" />
      <maximumFileSize value="100KB" />
      <maxSizeRollBackups value="2" />

      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%level %thread %logger - %message%newline" />
      </layout>
    </appender>

    <root>
      <level value="DEBUG" />
      <appender-ref ref="RollingFile" />
    </root>
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
</configuration>