<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oioIdwsWcfConfiguration" type="Digst.OioIdws.Wsc.OioWsTrust.Configuration, Digst.OioIdws.Wsc, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <oioIdwsWcfConfiguration stsEndpointAddress="https://SecureTokenService.test-nemlog-in.dk/SecurityTokenService.svc" wspEndpointID="https://wsp.oioidws-net.dk" tokenLifeTimeInMinutes="5" debugMode="true">
    <clientCertificate storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint" findValue="0E6DBCC6EFAAFF72E3F3D824E536381B26DEECF5"/>
    <stsCertificate storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint" findValue="d9f10c97aa647727adb64a349bb037c5c23c9a7a"/>
  </oioIdwsWcfConfiguration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <extensions>
      <bindingExtensions>
        <add name="LibBasBinding" type="Digst.OioIdws.LibBas.Bindings.LibBasBindingCollectionElement, Digst.OioIdws.LibBas"/>
      </bindingExtensions>
      <behaviorExtensions>
        <add name="LibBasBehavior" type="Digst.OioIdws.LibBas.Behaviors.LibBasClientBehaviorExtensionElement, Digst.OioIdws.LibBas"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="LibBasBehaviourConfiguration">
          <clientCredentials>
            <serviceCertificate>
              <scopedCertificates>
                <add targetUri="http://Digst.OioIdws.Wsp:9090/HelloWorld" findValue="1F0830937C74B0567D6B05C07B6155059D9B10C7" x509FindType="FindByThumbprint" storeLocation="LocalMachine" storeName="My"/>
              </scopedCertificates>
            </serviceCertificate>
          </clientCredentials>
          <!--Endpoints can only point to a single behaviour configuration. Hence, we need to include the LibBasBehavior in a existing behavior-->
          <LibBasBehavior/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <LibBasBinding>
        <binding name="LibBasBindingConfiguration" useHttps="false" sendTimeout="00:15:00"/>
      </LibBasBinding>
    </bindings>
    <client>
      <endpoint address="http://Digst.OioIdws.Wsp:9090/HelloWorld"
                behaviorConfiguration="LibBasBehaviourConfiguration" binding="LibBasBinding"
                bindingConfiguration="LibBasBindingConfiguration" contract="HelloWorldProxy.IHelloWorld">
        <identity>
          <dns value="wsp.oioidws-net.dk TEST (funktionscertifikat)" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>