<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="Federation" type="dk.nita.saml20.config.ConfigurationReader, dk.nita.saml20" />
    <section name="SAML20Federation" type="dk.nita.saml20.config.ConfigurationReader, dk.nita.saml20" />
    <!-- OIOIDWS section start -->
    <section name="oioIdwsWcfConfiguration" type="Digst.OioIdws.Wsc.OioWsTrust.Configuration, Digst.OioIdws.Wsc, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <section name="oioIdwsLoggingConfiguration" type="Digst.OioIdws.Common.Logging.Configuration, Digst.OioIdws.Common, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <!-- section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/-->
    <!-- OIOIDWS section stop -->
  </configSections>

  <!-- OIOIDWS REST section start -->
  <appSettings>
    <!--Use this setting to target the seperate server example -->
    <!--<add key="AsEndpoint" value="https://digst.oioidws.rest.as:10001/accesstoken/issue"/>-->
    <!--Use this setting to target the combined server example-->
    <add key="AsEndpoint" value="https://digst.oioidws.rest.wsp:10002/accesstoken/issue"/>
    <add key="AudienceUri" value="https://wsp.oioidws-net.dk"/>
    <add key="ClientCertificate" value="0E6DBCC6EFAAFF72E3F3D824E536381B26DEECF5"/>
    <add key="StsCertificate" value="d9f10c97aa647727adb64a349bb037c5c23c9a7a"/>
    <add key="StsEndpointAddress" value="https://SecureTokenService.test-nemlog-in.dk/SecurityTokenService.svc"/>
    <add key="TokenLifeTimeInSeconds" value="60"/>
    <add key="WspTestEndpointAddress" value="https://digst.oioidws.rest.wsp:10002/hello"/>
    <add key="WspTestEndpointAddress2" value="https://digst.oioidws.rest.wsp:10002/hello2"/>
  </appSettings>
  <!-- OIOIDWS REST section end -->

  <!-- OIOIDWS SOAP section start -->
  <system.serviceModel>
    <extensions>
      <bindingExtensions>
        <add name="LibBasBinding" type="Digst.OioIdws.LibBas.Bindings.LibBasBindingCollectionElement, Digst.OioIdws.LibBas" />
      </bindingExtensions>
      <behaviorExtensions>
        <add name="LibBasBehavior" type="Digst.OioIdws.LibBas.Behaviors.LibBasClientBehaviorExtensionElement, Digst.OioIdws.LibBas" />
      </behaviorExtensions>
    </extensions>

    <behaviors>
      <endpointBehaviors>
        <behavior name="LibBasBehaviourConfiguration">
          <clientCredentials>
            <serviceCertificate>
              <scopedCertificates>
                <!-- Certificate of WSP. Used for checking signature on response. targetURI must match the endpoint address. -->
                <add findValue="1F0830937C74B0567D6B05C07B6155059D9B10C7" storeLocation="LocalMachine" storeName="My" targetUri="http://127.0.0.1:9090/HelloWorld" x509FindType="FindByThumbprint" />
              </scopedCertificates>
            </serviceCertificate>
          </clientCredentials>
          <!--Endpoints can only point to a single behaviour configuration. Hence, we need to include the LibBasBehavior in a existing behavior-->
          <LibBasBehavior />
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <LibBasBinding>
        <binding name="LibBasBindingConfiguration" useHttps="false" />
      </LibBasBinding>
    </bindings>
    <client>
      <endpoint address="http://127.0.0.1:9090/HelloWorld" binding="LibBasBinding" contract="HelloWorldProxy.IHelloWorld" behaviorConfiguration="LibBasBehaviourConfiguration" bindingConfiguration="LibBasBindingConfiguration">
        <identity>
          <!--Common name specified in certificate that identifies the WSP-->
          <dns value="wsp.oioidws-net.dk TEST (funktionscertifikat)" />
        </identity>
      </endpoint>
    </client>

  </system.serviceModel>
  <oioIdwsWcfConfiguration debugMode="true" stsEndpointAddress="https://SecureTokenService.test-nemlog-in.dk/SecurityTokenService.svc" tokenLifeTimeInMinutes="5" wspEndpointID="https://wsp.oioidws-net.dk">
    <clientCertificate findValue="0E6DBCC6EFAAFF72E3F3D824E536381B26DEECF5" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint" />
    <stsCertificate findValue="d9 f1 0c 97 aa 64 77 27 ad b6 4a 34 9b b0 37 c5 c2 3c 9a 7a" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint" />
  </oioIdwsWcfConfiguration>
  <oioIdwsLoggingConfiguration logger="" />
  <!-- OIOIDWS section stop -->
  
  <location path="MyPage.aspx">
    <system.web>
      <authorization>
        <deny users="?" />
      </authorization>
    </system.web>
  </location>

  <Federation xmlns="urn:dk.nita.saml20.configuration">
    <SessionTimeout>30</SessionTimeout>
    <PreventOpenRedirectAttack>true</PreventOpenRedirectAttack>
    <SigningCertificate findValue="0E6DBCC6EFAAFF72E3F3D824E536381B26DEECF5" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint" />
    <AllowedAudienceUris>
      <Audience>https://saml.oiosaml-net.dk</Audience>
    </AllowedAudienceUris>
    <Actions>
      <clear />
      <add name="SetSamlPrincipal" type="dk.nita.saml20.Actions.SamlPrincipalAction, dk.nita.saml20 " />
      <add name="LogAction" type="WebsiteDemo.LogAction, WebsiteDemo" />
      <add name="Redirect" type="dk.nita.saml20.Actions.RedirectAction, dk.nita.saml20" />
    </Actions>
  </Federation>
  <SAML20Federation xmlns="urn:dk.nita.saml20.configuration">
    <MinimumAssuranceLevel>3</MinimumAssuranceLevel>
    <ShowError>true</ShowError>
    <ServiceProvider id="https://saml.oiosaml-net.dk" server="https://oiosaml-net.dk:20002">
      <ServiceEndpoint localpath="/login.ashx" type="signon" redirectUrl="/MyPage.aspx?action=sso" index="0" />
      <ServiceEndpoint localpath="/logout.ashx" type="logout" redirectUrl="/Default.aspx" index="1" />
      <ServiceEndpoint localpath="/logout.ashx" type="soaplogout" errorBehaviour="throwexception" />
      <ServiceEndpoint localpath="/metadata.ashx" type="metadata" />
      <md:ContactPerson contactType="administrative" xmlns:md="urn:oasis:names:tc:SAML:2.0:metadata">
        <md:Company>Schultz</md:Company>
        <md:GivenName>Kasper</md:GivenName>
        <md:SurName>Møller</md:SurName>
        <md:EmailAddress>kvm@schultz.dk</md:EmailAddress>
        <md:TelephoneNumber>4</md:TelephoneNumber>
      </md:ContactPerson>
    </ServiceProvider>
    <RequestedAttributes>
      <att name="urn:oid:2.5.4.4" isRequired="true" />
      <att name="urn:oid:2.5.4.3" isRequired="true" />
      <att name="urn:oid:0.9.2342.19200300.100.1.1" isRequired="true" />
      <att name="urn:oid:0.9.2342.19200300.100.1.3" isRequired="true" />
      <att name="dk:gov:saml:attribute:AssuranceLevel" isRequired="true" />
      <att name="dk:gov:saml:attribute:SpecVer" isRequired="true" />
      <att name="urn:oid:2.5.4.5" isRequired="true" />
      <att name="dk:gov:saml:attribute:IsYouthCert" isRequired="true" />
      <att name="dk:gov:saml:attribute:UniqueAccountKey" isRequired="false" />
      <att name="dk:gov:saml:attribute:CvrNumberIdentifier" isRequired="false" />
      <att name="urn:oid:2.5.4.10" isRequired="false" />
      <att name="urn:oid:2.5.4.65" isRequired="false" />
      <att name="urn:oid:1.3.6.1.4.1.1466.115.121.1.8" isRequired="true" />
      <att name="dk:gov:saml:attribute:PidNumberIdentifier" isRequired="false" />
      <att name="dk:gov:saml:attribute:RidNumberIdentifier" isRequired="false" />
      <att name="urn:oid:2.5.29.29" isRequired="true" />
      <att name="dk:gov:saml:attribute:UserAdministratorIndicator" isRequired="false" />
      
      <!-- bootstrap flag, required to make NemLog-in issue the right type of tokens -->
      <att name="urn:liberty:disco:2006-08:DiscoveryEPR" isRequired="true" />
    </RequestedAttributes>
    <NameIdFormat>urn:oasis:names:tc:SAML:1.1:nameid-format:X509SubjectName</NameIdFormat>
    <IDPEndPoints metadata="idp-metadata">
      <add id="https://saml.test-nemlog-in.dk/">
        <CertificateValidation>
          <add type="dk.nita.saml20.Specification.SelfIssuedCertificateSpecification, dk.nita.saml20" />
        </CertificateValidation>
      </add>
    </IDPEndPoints>
    <CommonDomain enabled="false" localReaderEndpoint="https://pfs04/demo/cdcreader.ashx" />
  </SAML20Federation>

  <system.web>
    <authentication mode="Forms">
      <forms cookieless="UseCookies" loginUrl="/login.ashx" name="DemoServiceProvider" timeout="30" />
    </authentication>
    <sessionState mode="Off" />
    <compilation debug="true" targetFramework="4.5.2" />
    <customErrors mode="Off" />
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <system.diagnostics>
    <trace autoflush="true" />
    <sources>
      <source name="dk.nita.saml20" switchValue="Verbose">
        <listeners>
          <add name="trace" />
        </listeners>
      </source>
      <source name="dk.nita.saml20.auditLogger" switchValue="Information">
        <listeners>
          <add name="trace" />
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add name="trace" type="System.Diagnostics.XmlWriterTraceListener" initializeData="C:\temp\saml2.tracelog" />
    </sharedListeners>
  </system.diagnostics>
</configuration>