<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
  </configSections>
  <system.diagnostics>
    <sources>
      <source name="System.ServiceModel" switchValue="Information">
        <listeners>
          <add name="ServiceModelMessageLoggingListener"/>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging">
        <listeners>
          <add name="ServiceModelMessageLoggingListener"/>
        </listeners>
      </source>
      <source name="Digst.OioIdws" switchValue="Information">
        <listeners>
          <add name="ServiceModelMessageLoggingListener"/>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\temp\Digst.OioIdws.WspExampleNuGet.svclog" name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <filter type=""/>
      </add>
    </sharedListeners>
  </system.diagnostics>
  <startup>
    <supportedRuntime sku=".NETFramework,Version=v4.7.2" version="v4.0"/>
  </startup>
  <system.serviceModel>
    <diagnostics>
      <messageLogging logEntireMessage="true" logMalformedMessages="true" logMessagesAtServiceLevel="true" logMessagesAtTransportLevel="true"/>
    </diagnostics>
    <bindings>
      <SoapBinding>
        <binding name="SoapBindingConfiguration" useHttps="false"/>
      </SoapBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="SoapServiceBehaviourConfiguration" name="Digst.OioIdws.WspExampleNuGet.HelloWorld">
        <endpoint address="http://127.0.0.1:9091/HelloWorld" behaviorConfiguration="SoapBehaviourConfiguration" binding="SoapBinding" bindingConfiguration="SoapBindingConfiguration" contract="Digst.OioIdws.WspExampleNuGet.IHelloWorld"/>
      </service>
      <service name="{REQUIRED}" behaviorConfiguration="SoapServiceBehaviourConfiguration">
        <!-- address is the endpint at which the service listens to incoming requests, contract is the full name of the interface which the service must implement. -->
        <endpoint address="{REQUIRED}" binding="SoapBinding" bindingConfiguration="SoapBindingConfiguration" contract="{REQUIRED}" behaviorConfiguration="SoapBehaviourConfiguration">
        </endpoint>
      </service>
    </services>
    <extensions>
      <bindingExtensions>
        <add name="SoapBinding" type="Digst.OioIdws.Soap.Bindings.SoapBindingCollectionElement, Digst.OioIdws.Soap"/>
      </bindingExtensions>
      <behaviorExtensions>
        <add name="SoapBehavior" type="Digst.OioIdws.Soap.Behaviors.SoapServiceBehaviorExtensionElement, Digst.OioIdws.Soap"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="SoapBehaviourConfiguration">
          <SoapBehavior/>
        </behavior>
      </endpointBehaviors>
      <serviceBehaviors>
        <behavior name="SoapServiceBehaviourConfiguration">
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <serviceDebug includeExceptionDetailInFaults="true"/>
          <!--serviceCredentials specifies the certificate used for signing the response to the client-->
          <!--Setting useIdentityConfiguration to true enables WIF (System.IdentityModel configuration) and ensures that the specified service certificate is also used as decrypting key for decrypting the encrypted SAML assertion.-->
          <!--Setting useIdentityConfiguration to true in a service behavior did not work because it happens too late in the pipe line and the service certificate would not be set to be the decrypting key-->
          <!--WIF is also needed in order to support STR transformations when signing and validating signatures. -->
          <serviceCredentials useIdentityConfiguration="true">
            <serviceCertificate findValue="ca30025a4981147505b8d7a59052ac40c7033688" storeLocation="LocalMachine" storeName="My" x509FindType="FindByThumbprint"/>
          </serviceCredentials>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  <!--system.identityModel is used by WIF which is enabled by setting useIdentityConfiguration to true under serviceCredentials,-->
  <system.identityModel>
    <identityConfiguration>
      <!--audienceUris specifies this service and is used to check that the SAML token from NemLog-in STS is indeed issued to this service.-->
      <audienceUris>
        <add value="https://wsp.oioidws-net.dk"/>
        <add value="{REQUIRED}"/>
      </audienceUris>
      <!--issuerNameRegistry specifies the certificate of the Nemlog-In STS. Both thumbprint and Common Name must be specified.-->
      <!--Issuer certificate is embedded in the encrypted SAML assertion. Hence, it it does not need to be recieved out-of-band and placed in the certificate store-->
      <issuerNameRegistry>
        <trustedIssuers>
          <add name="Digitaliseringsstyrelsen - NemLog-in Test" thumbprint="fcb5edc9fb09cf39716c09c35fdc883bd48add8d"/>
          <add thumbprint="{REQUIRED}" name="{REQUIRED}"/>
        </trustedIssuers>
      </issuerNameRegistry>
      <!--The Saml2SecurityTokenHandler security token handler must be replacded by a custom that handles that the signing certificate reference is the id of the encrypted assertion-->
      <securityTokenHandlers>
        <!--The Saml2SecurityTokenHandler security token handler must be replacded by a custom that handles that the signing certificate reference is the id of the encrypted assertion-->
        <remove type="System.IdentityModel.Tokens.Saml2SecurityTokenHandler, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        <add type="Digst.OioIdws.Wsp.DecryptedAssertionSupport.DecryptedSaml2SecurityTokenHandler, Digst.OioIdws.Wsp"/>
      </securityTokenHandlers>
    </identityConfiguration>
  </system.identityModel>
  <system.web>
    <webServices>
      <serviceDescriptionFormatExtensionTypes>
        <add type="Digst.OioIdws.Wsp.Wsdl.Bindings.Policy, Digst.OioIdws.Wsp.Wsdl"/>
        <add type="Digst.OioIdws.Wsp.Wsdl.Bindings.PolicyReference, Digst.OioIdws.Wsp.Wsdl"/>
      </serviceDescriptionFormatExtensionTypes>
    </webServices>
  </system.web>
</configuration>
