<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="oioIdwsWcfConfiguration" type="Digst.OioIdws.Wsc.OioWsTrust.Configuration, Digst.OioIdws.Wsc, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
  </configSections>
  <oioIdwsWcfConfiguration debugMode="true"
                           stsEndpointAddress="https://SecureTokenService.test-nemlog-in.dk/SecurityTokenService.svc"
                           tokenLifeTimeInMinutes="5"
                           wspEndpointID="https://wsp.itcrew.dk">
    <clientCertificate findValue="96A26BF6E07DE6DB74E356472CCA4776FEC9B0DA"
                       storeLocation="LocalMachine"
                       storeName="My"
                       x509FindType="FindByThumbprint"/>
    <stsCertificate findValue="D9F10C97AA647727ADB64A349BB037C5C23C9A7A"
                    storeLocation="LocalMachine"
                    storeName="My"
                    x509FindType="FindByThumbprint"/>
  </oioIdwsWcfConfiguration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <extensions>
      <bindingExtensions>
        <add name="SoapBinding" type="Digst.OioIdws.Soap.Bindings.SoapBindingCollectionElement, Digst.OioIdws.Soap"/>
      </bindingExtensions>
      <behaviorExtensions>
        <add name="SoapBehavior" type="Digst.OioIdws.Soap.Behaviors.SoapClientBehaviorExtensionElement, Digst.OioIdws.Soap"/>
      </behaviorExtensions>
    </extensions>
    <behaviors>
      <endpointBehaviors>
        <behavior name="SoapBehaviourConfiguration">
          <clientCredentials>
            <serviceCertificate>
              <scopedCertificates>
                <add findValue="85398FCF737FB76F554C6F2422CC39D3A35EC26F"
                     storeLocation="LocalMachine"
                     storeName="My"
                     targetUri="https://localhost:8443/HelloWorld/services/helloworld"
                     x509FindType="FindByThumbprint"/>
              </scopedCertificates>
            </serviceCertificate>
          </clientCredentials>
          <SoapBehavior/>
        </behavior>
      </endpointBehaviors>
    </behaviors>
    <bindings>
      <SoapBinding>
        <binding name="SoapBindingConfiguration" useHttps="true"/>
      </SoapBinding>
    </bindings>
    <client>
      <endpoint address="https://localhost:8443/HelloWorld/services/helloworld"
                behaviorConfiguration="SoapBehaviourConfiguration"
                binding="SoapBinding"
                bindingConfiguration="SoapBindingConfiguration"
                contract="Digst.OioIdws.Soap.CrossTest.HelloWorldProxy.HelloWorldPortType">
        <identity>
          <dns value="eID JAVA test (funktionscertifikat)"/>
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
</configuration>